:root {

  --color-primary: #FFF;
  --color-secondary: #000;
  --color-tertiary: var(--color-gradient);
  --color-action: #e73c7e;
  --color-gradient: linear-gradient(-95deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);


  --bg-color-light: var(--color-primary);
  --color-light: var(--color-secondary);
  --bg-color-dark: var(--color-secondary);
  --color-dark: var(--color-primary);


  background-color: var(--bg-color-light);
  color: var(--color-light);
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  
  --font-size-root: 16px;

  --line-height-regular: 1.5;
  --line-height-tight: 1.3;
  --line-height-tiny: 1.2;

  --font-size-xsmall: #{rem(12px)};
  --font-size-small: #{rem(14px)};
  --font-size-normal: #{rem(16px)};
  --font-size-large: #{rem(18px)};
  --font-size-xlarge: #{rem(20px)};
  --font-size-xxlarge: #{rem(24px)};
  --font-size-xxlarge-2: #{rem(28px)};
  --font-size-xxxlarge:#{rem(32px)};
  --font-size-xxxxlarge: #{rem(40px)};
  --font-size-xxxxxlarge: #{rem(56px)};
  --font-size-xxxxxxlarge: #{rem(72px)};

  --font-size-level-jumbo: var(--font-size-xxxxlarge);
  --font-size-level-1: var(--font-size-xxxxlarge);
  --font-size-level-2: var(--font-size-xxxlarge);
  --font-size-level-3: var(--font-size-xxlarge);
  --font-size-level-4: var(--font-size-large);
  --font-size-body: var(--font-size-large);
  --font-size-body-tiny: var(--font-size-xsmall);
  --font-size-body-small: var(--font-size-normal);
  --font-size-body-large: var(--font-size-large);
  --font-size-body-huge: var(--font-size-xxlarge);

  --font-size-button: var(--font-size-large);
  --font-size-form-label: var(--font-size-xlarge);
  --font-size-nav: var(--font-size-xlarge);

  --font-letter-spacing-subtle: .06rem;

  --paragraph-spacing: 1.3rem;

  --gutter: #{rem(24px)};
  --gutter-row: #{rem(24px)};
  --page-margin: #{rem(32px)};
  --inner-padding: #{rem(16px)};
  --inner-padding-horizontal: #{rem(10px)};

  --color-highlight-rgb: var(--color-tertiary);
  --color-highlight: rgb(var(--color-highlight-rgb));


  --color-form-background: var(--color-primary);

  --color-cta: var(--color-action);

}

@include grid-media(tablet) {
  :root {
    --line-height-tight: 1.24;
    --line-height-slight: 1.45;

    --font-size-level-jumbo: var(--font-size-xxxxxlarge);
    --font-size-level-1: var(--font-size-xxxxxlarge);
    --font-size-level-2: var(--font-size-xxxxlarge);
    --font-size-body: var(--font-size-xlarge);
    --font-size-body-large: var(--font-size-xxlarge);
    --font-size-body-huge: var(--font-size-xxxlarge);

    --page-margin: #{rem(64px)};
  }
}

@include grid-media(desktop) {
  :root {
    --font-size-root: 17px;
    --font-size-level-jumbo: var(--font-size-xxxxxxlarge);
    --font-size-body: var(--font-size-xlarge);
    --font-size-body-large: var(--font-size-xxlarge-2);
    --font-size-body-huge: var(--font-size-xxxxlarge);

    --gutter: #{rem(32px)};
    --gutter-row: #{rem(32px)};
  }
}

@include grid-media(largedesktop) {
  :root {
    --font-size-root: 20px;
    --page-margin: #{rem(128px)};
  }
}


//Base
$measure-xxxsmall: rem(4px);
$measure-xxsmall: rem(8px);
$measure-xsmall: rem(12px);
$measure-small: rem(20px);
$measure-normal: rem(28px);
$measure-medium: rem(32px);
$measure-large: rem(64px);


$timing-interaction: .2s;


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--bg-color-dark);
    color: var(--color-dark);
  }

  #icon {
    color: var(--color-dark)
  }

  .current {
    background-image: linear-gradient(0deg,rgba(111, 173, 227, 0.5) 50%,transparent 50%);
  }
}


@include grid-media(tablet) {
  :root {
    font-size: 0.85rem;
  }

}

@include grid-media(desktop) {
  :root {
    font-size: .85rem;
  }

}