
/*----------------------- Mobile --------------------------*/




.about {
  display: grid;
  padding: 3rem;
  margin-bottom: 6rem;
  grid-row-gap: 3rem;

  .about-intro-image {
    margin-bottom: 3rem;
  }

  .about-intro-description {
    margin-bottom: 3rem;

    p {
      margin-bottom: 3rem;
    }

    p:first-child {
      font-family: 'Patua One', cursive;
      font-size: 3rem;
      background: var(--color-gradient);
      background-size: 400% 400%;
      animation: gradient 30s ease infinite;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .about-attributes {
    grid-row: 3;
  
    .about-site {
      grid-row: 4;
    }
    
    dt p {
      font-size: 2rem;
    }

    .list--dashed {

      li {
        font-family: 'Lato', sans-serif;
        font-size: 1.5rem;
        line-height: 3rem;
      }
    }
  }
}

  

.about {
  .about-section-title {
    padding-bottom: .5rem;
    margin-bottom: .5rem;
  }
}

  


/*----------------------- Min 768px --------------------------*/

@include grid-media(tablet) {

  .about {
    display: grid;
    grid-template-columns: 1fr 3rem 1fr;
    padding: 3rem;
    margin-bottom: 6rem;

    .about-intro-image {
      margin-bottom: 0;
      grid-row: 1;
      grid-column: 3;
    }

    .about-intro-description {
      margin-top: 40vh;
      margin-bottom: 0;
      grid-row: 1;
      grid-column: 1;
    }
    
    .about-experience {
      grid-column: 3;
      grid-row: 2;
    }

    .about-education {
      margin-top: 40vh;
      grid-column: 1;
      grid-row: 2;
      text-align: right;
    }

    .about-skills {
      grid-column: 3;
      grid-row: 3;
    }

    .about-tools {
      margin-top: 40vh;
      grid-column: 1;
      grid-row: 3;
      text-align: right;
    }
  }
}

/*----------------------- Min 1440px --------------------------*/
