
/*----------------------- Mobile --------------------------*/

.contact {
  padding: 3rem;
  margin-bottom: 6rem;
}
  
.col-lg-8,
.col-lg-8 h3,
.col-lg-4 h3 {
  margin-bottom: 3rem;
}
  


/*----------------------- Min 768px --------------------------*/


@media screen and (min-width: 768px) {

  .contactrow {
    display: grid;
    grid-template-columns: 3fr 0.2fr 1fr;
  }
  
  .col-lg-8 {
    grid-column: 1;
  }
  
  .col-lg-4 {
    grid-column: 3;
  }
}


/*----------------------- Min 1440px --------------------------*/