
/*----------------------- Mobile --------------------------*/

.header{
    position: sticky;
    z-index: 9;
    top: 0;
    background: var(--color-gradient);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

.menu {
    display: grid;
    justify-content: center;
    padding: 3rem;
}

.navheader {
    grid-row: 2;
}

.current {
    justify-content: center;
}

.logo {
    grid-row: 1;
    text-align: center;
    padding-bottom: 2rem;
}

#nav-nav a {
    padding: 1rem;
}


/*----------------------- Min 768px --------------------------*/

@include grid-media(tablet) {

    .menu {
        display: grid;
        justify-content: space-between;
    }

    .navheader {
        grid-row: 1;
        justify-content: center;
    }
        
    .navheader a {
        justify-content: center;
    }
        
    #nav-nav {
        justify-content: center;
    }
        
    .logo {
        justify-content: center;
        grid-column: 1;
        padding-bottom: 0;
    }

}


/*----------------------- Min 1440px --------------------------*/